<div class="artist-order-by" style="
    float: left;
    width: 100%;
    /* text-align: center; */
    /* font-size: 2.6em; */
    background: white;
    margin: 1.6em 0 .6em 0;
    /* position: relative; */
">
  
  <div style="
    width: 100%;
    float: left;
    line-height: em;
    text-align: center;
    font-size: 1.6em;
    ">Sixx A.M.</div>
  <div style="
    float: left;
    width: 100%;
    text-align: center;
    font-size: 1em;
">
	This is gonna hurt
</div>
</div>













<div id="pagination" style="
    height: 30px;
    /* background: blue; */
    /* float: left; */
    width: 400px;
    margin: 0 auto;
    position: relative;
">
  	<div class="circle" style="
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background: rgba(218,218,218,.3);
    position: relative;
    margin: auto;
    border: 1px solid rgba(218,218,218,.9);
    box-shadow: 3px 1px 6px 1px #cacaca inset, 1px 0px 1px 0px black inset;
"></div>
  </div>