<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <link href="../../assets/css/unsemantic.css" rel="stylesheet">
    <link href="../../assets/css/color.css" rel="stylesheet">
    <link href="../../assets/css/main.min.css" rel="stylesheet">
</head>
<body>
    <div class="grid-container">
        <div id="updown">
            <div class="grid-100">
                <div class="grid-50 mobile-grid-50 arrow-updown" data-direction="up">
                    &#9650;
                </div>
                <div class="grid-50 mobile-grid-50 arrow-updown" data-direction="down">
                    &#9660;
                </div>
            </div>
        </div>
        <!--Top nav-->
        <div id="top-nav" class="grid-100 border-bottom border-color-dark-pink">
            <!--controles-->
            <div class="grid-10 mobile-grid-20">
                <div class="grid-75 mobile-grid-75">
                    <div class="btn-controls" id="play-pause">
                        <!-- play -->
                        <svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 125.10303 177.45114" height="100%" width="100%">
                            <path style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M 5.827315,6.7672041 62.280287,48.845328 62.257126,128.62684 5.8743095,170.58995 Z">
                                <animate class="anim-play" begin="" dur="400ms" attributeName="d" fill="freeze"/>
                            </path>
                            <path style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="m 61.189203,48.025 56.296987,40.520916 0,0.0028 -56.261916,40.850634 z">
                                <animate class="anim-play" begin="" dur="400ms" attributeName="d" fill="freeze"/>
                            </path>
                        </svg>
                    </div>
                </div>
                <div class="grid-25 mobile-grid-25 border-left border-right border-color-dark-pink">
                    <!-- siguiente -->
                    <div class="grid-100 border-bottom border-color-dark-pink">
                        <div class="btn-controls" id="next"> 
                            <img class="music-controls" id="next-icon" src="../../assets/img/next.svg" height="100%" width="100%">
                        </div>
                    </div>
                    <!-- previo -->
                    <div class="grid-100 border-bottom border-color-dark-pink">
                        <div class="btn-controls" id="prev">
                            <img class="music-controls" id="prev-icon" src="../../assets/img/prev.svg" height="100%" width="100%">
                        </div>
                    </div>
                    <!-- shuffle -->
                    <div class="grid-100">
                        <div class="btn-controls" id="shuffle">
                            <svg class="music-controls" id="shuffle-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 59.000001 59.000001" height="100%" width="100%">
                                <defs>
                                    <filter id="filter4206" style="color-interpolation-filters:sRGB;">
                                    <feFlood result="flood" flood-color="rgb(214,214,214)" flood-opacity="0.705882" />
                                    <feComposite result="composite1" operator="in" in2="SourceGraphic" in="flood" />
                                    <feGaussianBlur result="blur" stdDeviation="0.6" in="composite1" />
                                    <feOffset result="offset" dy="0" dx="0" />
                                    <feComposite result="composite2" operator="over" in2="offset" in="SourceGraphic" />
                                    </filter>
                                </defs>
                                <g transform="matrix(0.13968372,0,0,0.13968372,1,1.0090401)">
                                    <g>
                                        <path style="filter:url(#filter4206)" d="M 168.3,132.6 35.7,0 0,35.7 132.6,168.3 168.3,132.6 Z M 267.75,0 318.75,51 0,372.3 35.7,408 357,89.25 l 51,51 L 408,0 267.75,0 Z m 7.65,239.7 -35.7,35.7 79.05,79.05 -51,51 140.25,0 0,-140.25 -51,51 -81.6,-76.5 z" />
                                    </g>
                                </g>
                                <g transform="translate(1,-350)"/>
                                <g transform="translate(1,-350)"/>
                                <g transform="translate(1,-350)"/>
                                <g transform="translate(1,-350)"/>
                                <g transform="translate(1,-350)"/>
                                <g transform="translate(1,-350)"/>
                                <g transform="translate(1,-350)"/>
                                <g transform="translate(1,-350)"/>
                                <g transform="translate(1,-350)"/>
                                <g transform="translate(1,-350)"/>
                                <g transform="translate(1,-350)"/>
                                <g transform="translate(1,-350)"/>
                                <g transform="translate(1,-350)"/>
                                <g transform="translate(1,-350)"/>
                                <g transform="translate(1,-350)"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-90 mobile-grid-80">
                <div class="grid-100">
                    <!-- Info de la canción-->
                    <div class="grid-30">
                        <div id="info-song">
                            <div id="song-title" class="text-container grid-100">
                                <h1>&nbsp;</h1>
                                <div class="tooltip"></div>
                            </div>
                            <div id="artist" class="text-container grid-100 mobile-grid-50">
                                <h2>&nbsp;</h2>
                                <div class="tooltip"></div>
                            </div>
                            <div id="album" class="text-container grid-100 mobile-grid-50">
                                <h3>&nbsp;</h3>
                                <div class="tooltip"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-65">
                        <div id="time" class="grid-100">
                            <span id="time-start">00:00</span>&nbsp;<span style="color:white">-</span>&nbsp;<span id="time-end">00:00</span>
                        </div>
                        <div id="total-progress-bar" class="grid-100">
                            <div id="progress-bar">
                            </div>
                        </div>
                    </div>
                    <div class="grid-5">
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Listado de canciones -->
        <div id="list-songs"></div>
        <!-- Albun a tocar -->
        <div id="album-to-play-container" class="grid-100 border-right border-color-dark-pink hide"> 
            <div id="album-to-play" class="grid-50"></div>
            <div id="desc-container-album"  class="grid-50">
                <div class="grid-100">
                    <p>
                        You have loaded an album. This is a temporary play list, which means that is not gonna be part of your main list when you close the music player.
                        To get back to your music list, just click on the Close album.
                    </p>
                </div>
                <div class="grid-100" style="text-align:center;margin-top:3em">
                    <button id="close-album">Close album</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Buscador de canciones-->
    <div id="search-container" class="hide">
        <div id="search-wrapper">
            <div class="grid-100">
                <input id="search" type="text" placeholder="Search:"/>
            </div>
        </div>
        <div id="leftright" class="hide">
            <div class="grid-100">
                <div class="grid-50 mobile-grid-50 arrow-leftright" data-direction="left">
                    &#9664;
                </div>
                <div class="grid-50 mobile-grid-50 arrow-leftright" data-direction="right">
                    &#9654;
                </div>
            </div>
        </div>
        <div id="container-results">
            <div id="wrapper-results"></div>
        </div>
    </div>
    <!-- Pop up alerta de canciones nuevas -->
    <div id="pop-up-container" class="hide">
        <div id="pop-up"></div>
    </div>
    <!-- Display the menu to add more music folders -->
    <div class="grid-100 mobile-grid-100 parent-container-config hide">
        <div id="container-add-songs" class="container-config">
            <div class="title-container border-bottom border-color-light-grey grid-100">
                <div class="grid-70">
                    <div id="_addsongfolder"></div>
                </div>
                <div class="grid-30">
                    <div class="close"></div>
                </div>
            </div>
            <div class="grid-100">
                <div class="grid-40 mobile-grid-40">
                    <button id="add-songs"></button>
                </div>
                <div class="grid-60 mobile-grid-60">
                    <button id="remove-songs" class="hide"></button>
                    <div id="song-progress"></div>
                </div>
            </div>
            <div id="path-list" class="grid-100">
                <ul id="path-list-container" class="list-song-container">
                </ul>
            </div>
            <div class="warning"></div>
        </div>
    </div>
    <!-- Display the equalizer -->
    <div class="grid-100 mobile-grid-100 parent-container-config hide">
        <div id="container-equalizer" class="container-config">
            <div class="title-container border-bottom border-color-light-grey grid-100">
                <div class="grid-70">
                    <div id="_equalizerSetting"></div>
                </div>
                <div class="grid-30">
                    <div class="close"></div>
                </div>
            </div>
            <div class="grid-100">
                <div class="grid-100" style="margin-bottom:4px">
                    <div class="grid-15">
                        <select id="eq-buttons">
                        </select>
                    </div>
                    <div id="add-new-eq" class="grid-85 hide">
                        <div class="grid-15">
                            <button type="button" id="_neweq" disabled></button>
                        </div>
                        <div class="grid-80">
                            <input type="text" id="name-new-eq" />
                        </div>
                    </div>
                    <div id="edit-new-eq" class="grid-85 hide">
                        <div class="grid-20">
                            <div class="grid-50">
                                <button type="button" id="_saveeq"></button>
                            </div>
                            <div class="grid-50">
                                <button type="button" id="_canceleq"></button>
                            </div>
                        </div>
                        <div class="grid-80">
                            <input type="text" id="name-new-eq-edit" />
                        </div>
                    </div>
                    <div id="modify-new-eq" class="grid-85 hide">
                        <div id="text-new-eq"></div>
                        <div id="edit-name"></div>
                        <div id="delete-name"></div>
                    </div>
                    <div class="warning"></div>
                </div>
                <div id="equalizer-container">
                    <div class="grid-100">
                        <div class="grid-50">
                            <div class="hz">Hz</div>
                        </div>
                        <div class="grid-50">
                            <div class="hz">KHz</div>
                        </div>
                    </div>
                    <div class="grid-100">
                        <div class="range-container">
                            <div class="grid-100">
                                <h5>50</h5>
                                <div class="db-up-down" data-orientation="up" data-position="0">+</div>
                            </div>
                            <div class="range-percent">
                                <div id="range-0" class="range-total-percent" data-db="0"></div>
                            </div>
                            <div class="grid-100">
                                <div class="db-up-down" data-orientation="down" data-position="0">-</div>
                                <div class="db-desc" id="db-0"></div>
                            </div>
                        </div>
                        <div class="range-container">
                            <div class="grid-100">
                                <h5>100</h5>
                                <div class="db-up-down" data-orientation="up" data-position="1">+</div>
                            </div>
                            <div class="range-percent">
                                <div id="range-1" class="range-total-percent" data-db="0"></div>
                            </div>
                            <div class="grid-100">
                                <div class="db-up-down" data-orientation="down" data-position="1">-</div>
                                <div class="db-desc" id="db-1"></div>
                            </div>
                        </div>
                        <div class="range-container">
                            <div class="grid-100">
                                <h5>156</h5>
                                <div class="db-up-down" data-orientation="up" data-position="2">+</div>
                            </div>
                            <div class="range-percent">
                                <div id="range-2" class="range-total-percent" data-db="0"></div>
                            </div>
                            <div class="grid-100">
                                <div class="db-up-down" data-orientation="down" data-position="2">-</div>
                                <div class="db-desc" id="db-2"></div>
                            </div>
                        </div>
                        <div class="range-container">
                            <div class="grid-100">
                                <h5>220</h5>
                                <div class="db-up-down" data-orientation="up" data-position="3">+</div>
                            </div>
                            <div class="range-percent">
                                <div id="range-3" class="range-total-percent" data-db="0"></div>
                            </div>
                            <div class="grid-100">
                                <div class="db-up-down" data-orientation="down" data-position="3">-</div>
                                <div class="db-desc" id="db-3"></div>
                            </div>
                        </div>
                        <div class="range-container">
                            <div class="grid-100">
                                <h5>311</h5>
                                <div class="db-up-down" data-orientation="up" data-position="4">+</div>
                            </div>
                            <div class="range-percent">
                                <div id="range-4" class="range-total-percent" data-db="0"></div>
                            </div>
                            <div class="grid-100">
                                <div class="db-up-down" data-orientation="down" data-position="4">-</div>
                                <div class="db-desc" id="db-4"></div>
                            </div>
                        </div>
                        <div class="range-container">
                            <div class="grid-100">
                                <h5>440</h5>
                                <div class="db-up-down" data-orientation="up" data-position="5">+</div>
                            </div>
                            <div class="range-percent">
                                <div id="range-5" class="range-total-percent" data-db="0"></div>
                            </div>
                            <div class="grid-100">
                                <div class="db-up-down" data-orientation="down" data-position="5">-</div>
                                <div class="db-desc" id="db-5"></div>
                            </div>
                        </div>
                        <div class="range-container">
                            <div class="grid-100">
                                <h5>622</h5>
                                <div class="db-up-down" data-orientation="up" data-position="6">+</div>
                            </div>
                            <div class="range-percent">
                                <div id="range-6" class="range-total-percent" data-db="0"></div>
                            </div>
                            <div class="grid-100">
                                <div class="db-up-down" data-orientation="down" data-position="6">-</div>
                                <div class="db-desc" id="db-6"></div>
                            </div>
                        </div>
                        <div class="range-container">
                            <div class="grid-100">
                                <h5>880</h5>
                                <div class="db-up-down" data-orientation="up" data-position="7">+</div>
                            </div>
                            <div class="range-percent">
                                <div id="range-7" class="range-total-percent" data-db="0"></div>
                            </div>
                            <div class="grid-100">
                                <div class="db-up-down" data-orientation="down" data-position="7">-</div>
                                <div class="db-desc" id="db-7"></div>
                            </div>
                        </div>
                        <div class="range-container">
                            <div class="grid-100">
                                <h5>1.25</h5>
                                <div class="db-up-down" data-orientation="up" data-position="8">+</div>
                            </div>
                            <div class="range-percent">
                                <div id="range-8" class="range-total-percent" data-db="0"></div>
                            </div>
                            <div class="grid-100">
                                <div class="db-up-down" data-orientation="down" data-position="8">-</div>
                                <div class="db-desc" id="db-8"></div>
                            </div>
                        </div>
                        <div class="range-container">
                            <div class="grid-100">
                                <h5>1.75</h5>
                                <div class="db-up-down" data-orientation="up" data-position="9">+</div>
                            </div>
                            <div class="range-percent">
                                <div id="range-9" class="range-total-percent" data-db="0"></div>
                            </div>
                            <div class="grid-100">
                                <div class="db-up-down" data-orientation="down" data-position="9">-</div>
                                <div class="db-desc" id="db-9"></div>
                            </div>
                        </div>
                        <div class="range-container">
                            <div class="grid-100">
                                <h5>2.5</h5>
                                <div class="db-up-down" data-orientation="up" data-position="10">+</div>
                            </div>
                            <div class="range-percent">
                                <div id="range-10" class="range-total-percent" data-db="0"></div>
                            </div>
                            <div class="grid-100">
                                <div class="db-up-down" data-orientation="down" data-position="10">-</div>
                                <div class="db-desc" id="db-10"></div>
                            </div>
                        </div>
                        <div class="range-container">
                            <div class="grid-100">
                                <h5>3.5</h5>
                                <div class="db-up-down" data-orientation="up" data-position="11">+</div>
                            </div>
                            <div class="range-percent">
                                <div id="range-11" class="range-total-percent" data-db="0"></div>
                            </div>
                            <div class="grid-100">
                                <div class="db-up-down" data-orientation="down" data-position="11">-</div>
                                <div class="db-desc" id="db-11"></div>
                            </div>
                        </div>
                        <div class="range-container">
                            <div class="grid-100">
                                <h5>5</h5>
                                <div class="db-up-down" data-orientation="up" data-position="12">+</div>
                            </div>
                            <div class="range-percent">
                                <div id="range-12" class="range-total-percent" data-db="0"></div>
                            </div>
                            <div class="grid-100">
                                <div class="db-up-down" data-orientation="down" data-position="12">-</div>
                                <div class="db-desc" id="db-12"></div>
                            </div>
                        </div>
                        <div class="range-container">
                            <div class="grid-100">
                                <h5>10</h5>
                                <div class="db-up-down" data-orientation="up" data-position="13">+</div>
                            </div>
                            <div class="range-percent">
                                <div id="range-13" class="range-total-percent" data-db="0"></div>
                            </div>
                            <div class="grid-100">
                                <div class="db-up-down" data-orientation="down" data-position="13">-</div>
                                <div class="db-desc" id="db-13"></div>
                            </div>
                        </div>
                        <div class="range-container">
                            <div class="grid-100">
                                <h5>20</h5>
                                <div class="db-up-down" data-orientation="up" data-position="14">+</div>
                            </div>
                            <div class="range-percent">
                                <div id="range-14" class="range-total-percent" data-db="0"></div>
                            </div>
                            <div class="grid-100">
                                <div class="db-up-down" data-orientation="down" data-position="14">-</div>
                                <div class="db-desc" id="db-14"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Display the config options (color theme, screen size, language) -->
    <div class="grid-100 mobile-grid-100 parent-container-config hide">
        <div id="configurations" class="container-config">
            <div class="title-container border-bottom border-color-light-grey grid-100">
                <div class="grid-70">
                    <div id="_configurations"></div>
                </div>
                <div class="grid-30">
                    <div class="close"></div>
                </div>
            </div>
            <div class="grid-100">
                <div class="grid-100">
                    <select id="config-options"></select>
                </div>
                <div class="hide" id="theme-colours">
                    <div class="grid-25">
                        <div class="colour-box">
                            <div class="colour" id="pink-theme"></div>
                        </div>
                        <div class="colour-name"></div>
                    </div>
                    <div class="grid-25">
                        <div class="colour-box">
                            <div class="colour" id="black-theme"></div>
                        </div>
                        <div class="colour-name"></div>
                    </div>
                    <div class="grid-25">
                        <div class="colour-box">
                            <div class="colour" id="orange-theme"></div>
                        </div>
                        <div class="colour-name"></div>
                    </div>
                    <div class="grid-25">
                        <div class="colour-box">
                            <div class="colour" id="grey-theme"></div>
                        </div>
                        <div class="colour-name"></div>
                    </div>
                </div>
                <div class="hide" id="idiom">
                    <div class="grid-33">
                        <div class="idiom-item" id="es">Español</div>
                    </div>
                    <div class="grid-33">
                        <div class="idiom-item" id="us">English</div>
                    </div>
                    <div class="grid-33">
                        <div class="idiom-item" id="de">Deutsch</div>
                    </div>
                </div>
                <div class="hide" id="screen-size">
                    <div class="grid-50">
                        <div class="grid-100">
                            Show screen size option
                            <div class="unchecked-colour" data-screen="show-size"></div>
                        </div>
                    </div>
                    <div id="on-top" class="grid-50 hide">
                        <div class="grid-100">
                            Always on top
                            <div class="unchecked-colour" data-screen="on-top"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Display the about content-->
    <div class="grid-100 mobile-grid-100 parent-container-config hide">
        <div id="about" class="container-config">
            <div class="title-container border-bottom border-color-light-grey grid-100">
                <div class="grid-100">
                    <div class="close"></div>
                </div>
            </div>
            <div class="grid-100">
                <div class="grid-100">
                    <div id="logo-image">
                        <img src="../../assets/img/icon@1.33x.png"/>
                    </div>
                </div>
                <div class="grid-100" style="text-align:center;font-size:.7.6em">
                    <a href="http://soube.diegomolina.cl">Soube Web</a>
                </div>
            </div>
            <div class="grid-100">
                <div id="_about"></div>
            </div>
        </div>
    </div>
    <!-- spinner -->
    <div id="spinner" class="hide">
        <div class="spinner-container">
            <div id="spinner-item-1" class="spinner-item"></div>
        </div>
        <div class="spinner-container">
            <div id="spinner-item-2" class="spinner-item"></div>
        </div>
        <div class="spinner-container">
            <div id="spinner-item-3" class="spinner-item"></div>
        </div>
        <div class="spinner-container">
            <div id="spinner-item-4" class="spinner-item"></div>
        </div>
        <div class="spinner-container">
            <div id="spinner-item-5" class="spinner-item"></div>
        </div>
    </div>
    <!--scripts-->
    <script>require('../../assets/js/main.js')</script>
</body>
</html>