 [Desktop Entry]
 Version=1.4.2
 Name=Soube
 Exec=/opt/soube/soube
 Terminal=false
 Icon=/opt/soube/resources/app/assets/img/icon.png
 Type=Application
 Categories=Application;MusicPlayer;Player