/**
* @author Diego Alberto Molina Vera
* @copyright 2016- 2017
*/
/* ------------------------ GENERAL ------------------------*/
@font-face {
  font-family: 'Hind';
  src: url(../files/Hind-Regular.ttf)
}

/**
* Se realizan reset pero de los atributos más importantes
* que vamos a usar en Chromium.
* Al no ser una aplicación web "online", no debemos de preocuperanos, en parte,
* por usar el comodín [*] para formatear todos los elementos HTML
*/
h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
p {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smooth: antialiased;
  font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures;
  font-stretch: condensed;
  font-family: 'Hind', sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.106);
  font-weight: normal;
  line-height: 1.35em;
  font-size: 100%;
  padding: 0;
  margin: 0;
  cursor: default;
  color:  var(--blackColor)
}

input,
button {
  border: none;
  cursor: pointer
}

input:focus,
button:focus {
  outline-width: 0
}

ul {
  list-style: none
}

body,
html {
  overflow: hidden;
  padding: 0;
  margin: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  right: 0;
  left: 0;
  top: 0
}

img,
svg,
a {
  cursor: pointer
}

.hide {
  display: none
}

/* ------------------------ VARIABLES ------------------------ */
:root {
  --lightGreyColor: #F4F6F6;
  --darkGreyColor: #979A9A;
  --darkPinkColor: #d81b60;
  --lightPinkColor: #f06292;
  --whiteColor: #FBFCFC;
  --blackColor: #424949;
  --pinkColor: #e91e63
}

/* ------------------------ GENERALES ------------------------ */
.border-bottom,
.border-left,
.border-right {
  border-width: 0;
  border-style:  solid;
  box-sizing:  border-box;
}

.border-bottom {
  border-bottom-width: .01em
}

.border-left {
  border-left-width: .01em
}

.border-right {
  border-right-width: .01em 
}

.border-color-dark-pink {
  border-color: var(--darkPinkColor)
}

.border-color-light-grey {
  border-color: var(--lightGreyColor)
}

.border-color-dark-grey {
  border-color: var(--darkGreyColor)
}

.border-color-white {
  border-color: var(--whiteColor)
}

.border-color-black {
  border-color: var(--blackColor)
}

.border-color-pink {
  border-color: var(--pinkColor)
}

.border-color-light-pink {
  border-color: var(--lightPinkColor)
}

.parent-container-config {
  padding-top: 100px;
  position: absolute;
  z-index: 3;
  height: 100%;
  top: 0
}

.container-config {
  padding: 0 1em 1em;
  border-radius: 5px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3);
  background: var(--whiteColor);
  position: relative;
  margin: 0 auto;
  border: .1em solid rgba(245, 245, 245, .3);
}

.close {
  padding-bottom: .6em;
  margin-bottom: .6em;
  padding-top: .6em;
}

button {
  padding-right: .6em;
  padding-left: .6em;
  line-height: 1.9em;
  background: var(--darkGreyColor);
  color: var(--whiteColor)
}

/* ------------------------ SCROLLBAR ------------------------ */
::-webkit-scrollbar {
  background-color: var(--darkGreyColor);
  width: .8em
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background:  var(--blackColor)
}

.btn-controls::after,
.arrow::after,
.arrow::before,
.list-song-container::after,
.tooltip::after {
  position: absolute;
  content: ''
}

/* ------- CONTROL PARA MOVER LA LISTA DE CANCIONES --------*/
#updown {
  border-radius: 5px;
  text-align: center;
  background: var(--whiteColor);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3);
  position: absolute;
  z-index: 2;
  border: 1px solid var(--lightGreyColor);
  height: 30px;
  bottom: 10px;
  width: 66px;
  right: 22px
}

#updown:hover{
  cursor: pointer
}

#updown .arrow-updown:first-child {
  border-right: 1px solid var(--lightGreyColor)
}

#updown .arrow-updown{
  line-height: 31px
}

/* ------------------------ TOP NAV ------------------------*/
#top-nav {
  background: var(--pinkColor)
}

/* ------------------------ CONTROLES DEL REPRODUCTOR ------------------------ */
.btn-controls {
  text-align: center;
  margin: .3em 0;
  height: 1.2em;
  float: left
}

.btn-controls::after {
  border-radius: 50%;
  background: var(--darkPinkColor);
  opacity: 0;
  height: 1.7em;
  width: 1.7em;
  left: 104px
}

#play-pause {
  text-align: center;
  margin: 1.25em .9em;
  height: 3em
}

#play-pause::after {
  height: 4em;
  width: 4em;
  left: 14px;
  top: 12px
}

#shuffle-icon {
  fill: var(--lightPinkColor)
}

#next::after {
  top: 0
}

#shuffle::after {
  top: 61px
}

#prev::after {
  top: 31px
}

.click-controls::after {
  animation: clickControlsEffect .3s ease-out forwards
}

#total-progress-bar,
#progress-bar {
  height:  .36em;
  cursor: e-resize
}

#total-progress-bar {
  background: var(--lightPinkColor)
}

#progress-bar {
  background: var(--whiteColor);
  box-shadow: 1px 0 3px 0 #fff;
  float: left;
  width: 0
}

/* ------------------------ DETALLES DE LA CANCIÓN ------------------------ */
#info-song {
  text-align: left;
  overflow: hidden;
  margin: .1em 1.2em;
  width: 85%;
  float: left
}

#info-song {
  -webkit-user-select: none;
}

#song-title > h1 {
  font-weight: 500;
  font-size: 1.6em
}

#artist > h2 {
  font-size: 1.3em
}

#album > h3 {
  font-weight: 300;
  font-size: 1em
}

#song-title > h1,
#artist > h2,
#album > h3,
.search-results {
  text-overflow: ellipsis;
  overflow: hidden
}

#time {
  text-align: center;
  font-size: 1.16em;
  margin: .5em 0
}

#time-start,
#time-end,
#artist > h2 {
  font-weight: 400
}

#song-title > h1,
#album > h3,
#artist > h2,
#time-end,
#time-start
{
  color: var(--whiteColor);
}

/* ------------------------ LISTADO DE CANCIONES ------------------------ */
#list-songs {
  background: linear-gradient(var(--whiteColor) 30%, transparent),
              radial-gradient(at 50% 0, rgba(66,73,73, .3), transparent 80%);
  background-repeat: no-repeat;
  background-size: 100% 50px, 100% 15px;
  background-attachment: local, scroll;
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100% - 95px);
  width: 100%;
  float: left
}

.list-song-container:nth-child(odd),
.list-song-container > li:nth-child(odd){
  background: var(--lightGreyColor)
}

.list-song-container:nth-child(even),
.list-song-container > li:nth-child(odd){
  background: var(--whiteColor)
}

.song-info {
  text-overflow: ellipsis;
  padding-left: .6em;
  font-weight: 300;
  line-height: 2em;
  font-size: .906em;
  overflow: hidden
}

.miscelaneo {
  margin-right: .6em;
  color: var(--darkGreyColor)
}

/* ------------------------ BUSQUEDA DE CANCIONES ------------------------ */
.search-results {
  margin: 1em
}

#search-container {
  background: rgba(245, 245, 245, .3);
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0
}

#search-wrapper {
  position: relative;
  padding: 6em 0 3.5em 0;
  margin: auto;
  height: auto;
  width: 11%
}

#search {
  background-image: url(../../assets/img/search.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 1.6em;
  border-bottom: .1em solid var(--lightPinkColor);
  padding-left: 1.6em;
  line-height: 0;
  transform: scale(0);
  margin: 0;
  cursor: text;
  width: 94%;
  color: var(--blackColor)
}

#search,
#search-result {
  font-weight: 300;
  font-size: 1.6em;
  padding-bottom: .16em;
  padding-top: .16em
}

#search-result {
  padding-left: 1.6em;
  position: absolute;
  z-index: -1;
  color: rgba(182, 182, 182, .4);
  top: 3.76em
}

.search-anim {
  animation: showInputUp .5s ease-in forwards
}

.search-wrapper-anim {
  animation: displayInputSearch .5s .6s ease-in-out forwards 
}

#container-results {
  overflow: hidden;
  height: 370px
}

.results,
#wrapper-results{
  height: 100%;
  float: left
}

.no-searching-found {
  text-align: center;
  font-size: 2.6em;
  width: 100%
}

/* ------------------------ PAGINACIÓN DEL INPUT SEARCH ------------------------ */
#pagination {
  position: relative;
  height: 30px;
  margin: 0 auto;
  width: 400px;
  top: 1em
}

.arrow::after,
.arrow::before {
  border-radius: 25px;
  background: var(--blackColor);
  opacity: .2;
  height:.3em;
  width: 10%
}

.arrow-open-anim::after {
  animation: openArrowDown .6s ease-out forwards
}

.arrow-open-anim::before {
  animation: openArrowUp .6s ease-out forwards
}

#left-arrow,
#right-arrow {
  margin-top: -23px;
  height: 54px;
  cursor: pointer;
  width: 45px
}

#left-arrow {
  float: left
}

#left-arrow::before,
#left-arrow::after {
  transform-origin: left
}

#right-arrow::before,
#right-arrow::after {
  transform-origin: right
}

/* -------------------------------------- */
#right-arrow::after,
#left-arrow::before { /* Para obtener una mejor simetría en los ejes que se unen */
  top: 2px
}

#right-arrow::before,
#left-arrow::after { /* Para obtener una mejor simetría en los ejes que se unen */
  top: 0
}

/* -------------------------------------- */
#right-arrow {
  float: right
}

/* ------------------------ MENSAJE DE BIENVENIDA ------------------------ */
#init-message {
  background: white !important;
  margin-top: 4em;
  text-align: center;
  font-size: 1.6em;
  color: var(--darkGreyColor)
}

/* ------------------------ MENSAJE DE CANCIONES NUEVAS ------------------------ */
#pop-up-container {
  position: absolute;
  height: auto;
  margin: 0 2%;
  width: auto;
  right: 0;
  left: 0;
  top: 6.4em
}

#pop-up,
.search-results {
  border-radius: 2px;
  border-bottom: 2px solid var(--pinkColor);
  background: var(--darkGreyColor);
  text-align: center;
  font-size: .94em;
  padding: .6em;
  color:  var(--whiteColor)
}

#pop-up {
  transform: scale(0)
}

#pop-up > a {
  text-decoration: none;
  color: currentColor
}

.pop-up-anim {
  animation: showPopUp .3s ease-in-out forwards
}

/* ------------------------ TOOLTIPS ------------------------ */
.tooltip {
  transform-origin: center;
  letter-spacing: .14em;
  border-radius: 10px;
  line-height: 2em;
  text-align: center;
  background: hsla(180, 5%, 27%, .8);
  font-size: .8em;
  transform: scale(1, 0);
  position: absolute;
  opacity: 0;
  padding: 0 1em;
  width: auto;
  color: var(--whiteColor);
}

.tooltip::after {
  border-style: solid;
  border-width: 0 8px 11px 8px;
  border-color: transparent transparent hsla(180, 5%, 27%, .8) transparent;
  height: 0;
  margin: 0 auto;
  width: 0;
  right: 0;
  left: 0;
  top: -11px
}

.text-container:hover > .tooltip {
  animation: showToolTip .3s ease-in forwards
}

/* ------------------------ CANCIÓN SELECCIONADA ------------------------ */
.list-song-container {
  width: 100%;
  float: left;
  cursor: pointer
}

.list-song-container::after {
  border-radius: 25px;
  background: rgba(66, 73, 73, 0);
  height: 28px;
  margin: 0 auto;
  width: 0;
  right: 0;
  left: 0;
  top: 188px
}

/* ------------------------ EQUALIZER ------------------------ */
#container-equalizer {
  width: 900px
}


#eq-buttons {
  background: var(--whiteColor)
}

#eq-buttons {
  border: 1px solid rgba(0,0,0,.14);
  border-radius: 4px;
  margin: 1em 0 .5em 1em
}

/* ------------------------ ADD SONGS ------------------------ */
#container-add-songs{
  width: 500px
}

#path-list {
  background: var(--whiteColor);
  margin-top: 6px;
  border: 1px solid var(--lightGreyColor);
}

#path-list > ul {
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0
}

#song-progress {
  margin-top: 1.45em;
  background: var(--pinkColor);
  height: 3px;
  width: 0
}

#folder-to-remove {
  margin-top: 1em;
  font-size: .8em;
  color: var(--darkPinkColor);
}

/* ------------------------ ANIMACIONES ------------------------ */
@keyframes showToolTip {
  100% {
    transform: scale(1);
    opacity: 1
  }
}

@keyframes showPopUp {
  100% {
    transform: scale(1)
  }
}

@keyframes displayInputSearch {
  100% {
    width: 75%
  }
}

@keyframes showInputUp {
  100% {
    transform: scale(1)
  }
}

@keyframes clickControlsEffect {
  0% {
    transform: scale3d(.3, .3, 1)
  }
  25%, 50% {
    opacity: .8
  }
  100% {
    transform: scale3d(1.2, 1.2, 1);
    opacity: 0
  }
}

@keyframes openArrowDown {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(40deg);
    opacity: 1
  }
}

@keyframes openArrowUp {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(-40deg);
    opacity: 1
  }
}

/* ------------------------ MEDIA QUERIES ------------------------ */
@media only screen and (max-width: 750px) {
  /* ------------------------ BUSQUEDA DE CANCIONES ------------------------ */
  .no-searching-found {
    font-size: 2em
  }

  /* ------------------------ CONTROLES DEL REPRODUCTOR ------------------------ */
  #total-progress-bar{
    margin: .1em 1.3em .5em
  }

  .prev-next::after {
    left: 14.7%
  }

  /* ------------------------ DETALLES DE LA CANCIÓN ------------------------ */
  #info-song {
    text-align: left;
    margin: .19em 1.2em;
    width: 93%
  }

  #info-song > div {
    overflow: hidden
  }

  #song-title > h1 {
    font-size: 1.16em
  }

  #artist > h2,
  #album > h3 {
    font-size: 1em
  }

  #time {
    font-size: 1em;
    margin: 0
  }

  /* ------------------------ LISTADO DE CANCIONES ------------------------ */
  .list-song-container::after {
    top: 193px
  }
}